<h3>Edit question</h3>
<div class='edit-answer-errors'><%= render partial: 'shared/errors' %></div>

<%= form_for :answer, url: question_answer_path(@answer.question, @answer), html: { class: 'edit-answer-form' }, method: :put, remote: true do |f| %>
  <span class="form-group">
    <%= f.text_field :content, class: "form-control answer-content" %>
  </span>

  <span class="answer-checkbox">
    Correct answer?<%= f.check_box :correct, class: 'correct-answer-checkbox' %>
    <span class='answer-correctness-indicator hidden'>
      <!-- TODO: Implement binding for checkbox.  See answerForms -->
      <!-- <span class='fa fa-check fa-2x checkmark'></span> -->
    </span>
  </span>

  <span class="answer-submit">
    <%= f.submit "Submit", class: 'btn btn-primary' %>
  </span>
<% end %>